{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="sidebar">
                                <div class="widget">
                                    <div class="user-photo">
                                        <a href="#">
                                            <img src="assets/img/tmp/agent-2.jpg" alt="User Photo">
                                            <span class="user-photo-action">Modifier l'avatar</span>
                                        </a>
                                    </div><!-- /.user-photo -->
                                </div><!-- /.widget -->
                            </div><!-- /.sidebar -->
                        </div><!-- /.col-* -->


                        <div class="col-sm-8 col-lg-9">
                            <div class="content">
                                <div class="page-title">
                                    <h1>Edition du profil</h1>
                                </div><!-- /.page-title -->

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Informations personnelles
                                    </h3>



                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.name) }}
                                            {{ form_label(form.name) }}
                                            {{ form_widget(form.name) }}
                                            {{ form_help(form.name) }}

                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.tvaNumber) }}
                                            {{ form_label(form.tvaNumber) }}
                                            {{ form_widget(form.tvaNumber) }}
                                            {{ form_help(form.tvaNumber) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.email_provider) }}
                                            {{ form_label(form.email_provider) }}
                                            {{ form_widget(form.email_provider) }}
                                            {{ form_help(form.email_provider) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.telNumber) }}
                                            {{ form_label(form.telNumber) }}
                                            {{ form_widget(form.telNumber) }}
                                            {{ form_help(form.telNumber) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.email) }}
                                            {{ form_label(form.email) }}
                                            {{ form_widget(form.email) }}
                                            {{ form_help(form.email) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.services) }}
                                            {{ form_label(form.services) }}
                                            {{ form_widget(form.services) }}
                                            {{ form_help(form.services) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.website) }}
                                            {{ form_label(form.website) }}
                                            {{ form_widget(form.website) }}
                                            {{ form_help(form.website) }}
                                        </div><!-- /.form-group -->



                                    </div><!-- /.row -->
                                </div>


                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Adresse
                                    </h3>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.street) }}
                                            {{ form_label(form.street) }}
                                            {{ form_widget(form.street) }}
                                            {{ form_help(form.street) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.number) }}
                                            {{ form_label(form.number) }}
                                            {{ form_widget(form.number) }}
                                            {{ form_help(form.number) }}
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            {{ form_errors(form.locality) }}
                                            {{ form_label(form.locality) }}
                                            {{ form_widget(form.locality) }}
                                            {{ form_help(form.locality) }}
                                        </div><!-- /.form-group -->



                                        <div class="form-group col-sm-3">
                                            {{ form_errors(form.zipCode) }}
                                            {{ form_label(form.zipCode) }}
                                            {{ form_widget(form.zipCode) }}
                                            {{ form_help(form.zipCode) }}

                                        </div><!-- /.form-group -->
                                    </div><!-- /.row -->

                                    {{ form_widget(form.save) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
    {{ form_end(form) }}

{% endblock %}