<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/libraries/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('assets/libraries/owl.carousel/assets/owl.carousel.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('assets/libraries/colorbox/example1/colorbox.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/libraries/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('assets/libraries/bootstrap-fileinput/fileinput.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('assets/css/superlist.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/cssperso.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css') }}"
              rel="stylesheet"/>
    {% endblock %}

</head>
<body>
{% block header %}
<div class="page-wrapper">
    <header class="header">
        <div class="header-wrapper">
            <div class="container">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href="../index">
                            <span>Relaxation</span>
                        </a>
                    </div><!-- /.header-logo -->

                    <div class="header-content">
                        <div class="header-top">
                            <div class="header-search">
                                <input type="text" class="form-control" placeholder="Search for...">
                            </div><!-- /.header-search -->

                            <ul class="header-nav-social social-links nav nav-pills">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul><!-- /.header-nav-social -->

                            <ul class="header-nav-secondary nav nav-pills">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </div><!-- /.header-top -->

                        <div class="header-bottom">
                            <div class="header-action">
                                <a href="listing-submit.html" class="header-action-inner" title="Add Listing"
                                   data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-plus"></i>
                                </a><!-- /.header-action-inner -->
                            </div><!-- /.header-action -->

                            <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                                <li>

                                    <a href="#"> Services <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        {{ render(controller(
                                        'App\\Controller\\ServiceController::AllServices'
                                        )) }}

                                    </ul>
                                </li>

                            </ul>

                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                                    data-target=".header-nav-primary">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div><!-- /.header-bottom -->
                    </div><!-- /.header-content -->
                </div><!-- /.header-inner -->
            </div><!-- /.container -->
        </div><!-- /.header-wrapper -->
    </header><!-- /.header -->
    {% endblock %}


    {% block menu %}
        <div class="widget">

            <div class="col-md-2">
                    <h2 class="widgettitle">Search</h2>
                    <form method="post" action="{{ path('searchProviders') }}">
                    <label for="id_label_single">
                        <h4> Nom :  </h4>
                    </label>
                        <select class="js-example-basic-single js-states form-control" id="id_label_single"
                                name="searchSelectName">
                            <option>
                                {{ render(controller(
                                'App\\Controller\\ProviderController::SearchProvidersList'
                                )) }}
                            </option>
                        </select>

                            <label for="id_label_single">
                                <h4> Localité : </h4>
                            </label>
                            <select class="js-example-basic-single js-states form-control" id="id_label_single2"
                                    name="searchSelectLocality">
                                <option>
                                    {{ render(controller(
                                    'App\\Controller\\ProviderController::SearchLocalitiesList'
                                    )) }}
                                </option>
                            </select>
                        <hr/>
                        <button type="submit" class="btn btn-success" name="searchButton">Search</button>
                    </form>


                <h2 class="widgettitle">Services</h2>
                <ul class="menu">
                    {{ render(controller(
                    'App\\Controller\\ServiceController::AllServices'
                    )) }}
                </ul>

            </div>
        </div>

    {% endblock %}




    {% block show_service %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}

        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>About Superlist</h2>

                            <p>Superlist is directory template built upon Bootstrap and SASS to bring great
                                experience
                                in creation of directory.</p>
                        </div><!-- /.col-* -->

                        <div class="col-sm-4">
                            <h2>Contact Information</h2>

                            <p>
                                Your Street 123, Melbourne, Australia<br>
                                +1-123-456-789, <a href="#">sample@example.com</a>
                            </p>
                        </div><!-- /.col-* -->

                        <div class="col-sm-4">
                            <h2>Stay Connected</h2>

                            <ul class="social-links nav nav-pills">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul><!-- /.header-nav-social -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-top -->


            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-left">
                        &copy; 2015 All rights reserved. Created by <a href="#">Aviators</a>.
                    </div><!-- /.footer-bottom-left -->

                    <div class="footer-bottom-right">
                        <ul class="nav nav-pills">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
                            <li><a href="contact-1.html">Contact</a></li>
                        </ul><!-- /.nav -->
                    </div><!-- /.footer-bottom-right -->
                </div><!-- /.container -->
            </div>
        </footer><!-- /.footer -->



    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/map.js') }}" type="text/javascript"></script>

        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('assets/libraries/colorbox/jquery.colorbox-min.js') }}"
                type="text/javascript"></script>

        <script src="{{ asset('assets/libraries/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/libraries/flot/jquery.flot.spline.js') }}" type="text/javascript"></script>

        <script src="{{ asset('assets/libraries/bootstrap-select/bootstrap-select.min.js') }}"
                type="text/javascript"></script>

        <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false"
                type="text/javascript"></script>

        <script type="text/javascript" src="{{ asset('assets/libraries/jquery-google-map/infobox.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('assets/libraries/jquery-google-map/markerclusterer.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('assets/libraries/jquery-google-map/jquery-google-map.js') }}"></script>

        <script type="text/javascript" src="{{ asset('assets/libraries/owl.carousel/owl.carousel.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('assets/libraries/bootstrap-fileinput/fileinput.min.js') }}"></script>

        <script src="{{ asset('assets/js/superlist.js') }}" type="text/javascript"></script>
        <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js') }}"></script>
        <script src="{{ asset('assets/js/select2.js') }}" type="text/javascript"></script>

    {% endblock %}

</body>
</html>